
@font-face{ 
	font-family: 'Open Sans';
  font-style: normal;
	src: url('../fonts/OpenSans-Regular-webfont.ttf');
}

@font-face{ 
	font-family: 'Open Sans';
  font-weight: 700;
	src: url('../fonts/OpenSans-Bold-webfont.ttf');
}

@font-face{ 
	font-family: 'Open Sans';
  font-weight: 600;
	src: url('../fonts/OpenSans-SemiBold-webfont.ttf');
}

@font-face{ 
	font-family: 'Open Sans';
  font-style: italic;
	src: url('../fonts/OpenSans-Italic-webfont.ttf');
}
